{% extends "tcms_tenants/new.html" %}
{% load i18n %}

{% block extra_contents %}
    <div class="form-group">
        <label class="col-md-1 col-lg-1" for="id_name">{% trans "Paid until" %}</label>
        <div class="col-sm-11 col-md-8 col-lg-5 {% if form.paid_until.errors %}has-error{% endif %}">
            <label>{{ form.paid_until.value }}</label>
            {{ form.paid_until }}
            {{ form.paid_until.errors }}
        </div>
    </div>

    {{ form.on_trial }}

    <div class="form-group">
        <label class="col-md-1 col-lg-1" for="id_name">{% trans "Owner" %}</label>
        <div class="col-sm-11 col-md-8 col-lg-5">
            <label>{{ request.user }}</label>
            {% if request.user.is_superuser %}
            <label>(superuser)</label>
            {% endif %}
        </div>
    </div>

    {{ form.organization }}

    {% if form.organization.value %}
    <div class="form-group">
        <label class="col-md-1 col-lg-1" for="id_name">{% trans 'Organization' %}</label>
        <div class="col-sm-11 col-md-8 col-lg-5">
            <label>{{ form.organization.value }}</label>
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block contents %}
    <div class="row row-cards-pf">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="card-pf card-pf-accented card-pf-aggregate-status card-pf-aggregate-status-mini">
                <h2 class="card-pf-title">
                    <span class="pficon pficon-tenant"></span>
                    <span class="card-pf-aggregate-status-count">{% trans 'Private Tenant Warning' %}</span>
                </h2>

                <div>
                    <p>
{% blocktrans %}You are about to create a Private Tenant for Kiwi TCMS.
It will take a few minutes until your DB schema is ready!
After clicking the 'Save' button <strong>do not</strong> close or refresh this page!<br>
You will be redirected to your new tenant when the creation process is complete!
If you see a 500 Internal Server Error page please contact
<a href="mailto:kiwitcms@mrsenko.com">kiwitcms@mrsenko.com</a> immediately!{% endblocktrans %}
                    </p>
                </div>

                <div class="card-pf-body">
                    <p class="card-pf-aggregate-status-notifications">
                        <span class="card-pf-aggregate-status-notification">
                            <span class="pficon pficon-warning-triangle-o"></span>
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div><!-- /row -->

    {{ block.super }}
{% endblock %}
