services:
    db:
        container_name: postgresql_database
        image: postgres:latest
        restart: always
        ports:
            - 5432:5432
        volumes:
            - postgresql_database_data:/var/lib/postgresql/data
        environment:
            POSTGRES_DB: test_project
            POSTGRES_USER: kiwi
            POSTGRES_PASSWORD: kiwi


    pgadmin:
        container_name: pgadmin
        image: dpage/pgadmin4
        restart: always
        ports:
            - 8888:80
        environment:
            PGADMIN_DEFAULT_EMAIL: pgadmin@kiwitcms.org
            PGADMIN_DEFAULT_PASSWORD: kiwi

    web:
        container_name: web
        image: kiwitcms/github-marketplace:latest
        depends_on:
            - db
        restart: always
        ports:
            - 80:8080
            - 443:8443
        volumes:
            - ./test_project/settings.py:/venv/lib64/python3.11/site-packages/tcms_settings_dir/zzz_test_settings.py:z,ro
        environment:
            QUAY_IO_TOKEN: test-me
            KIWI_TENANTS_DOMAIN: testing.example.bg
            DATABASE_URL: postgres://kiwi:kiwi@db:5432/test_project
            RUNNING_AS_CONTAINER: "true"

volumes:
    postgresql_database_data:
